<%= form_for(@synonym) do |f| %>
	<%= f.label :dretitle, 'Title' %><%= f.text_field :dretitle %>
	<%= f.label :keywords %><%= f.text_area :keywords, :value => @synonym.keywords.nil? ? "" : URI::decode(@synonym.keywords) %>
	<%= f.label :concept %><%= f.text_area :concept, :value => @synonym.concept.nil? ? "" : URI::decode(@synonym.concept) %>
	<%= f.label :qmsagentbool, 'Matching Expression' %><%= f.text_area :qmsagentbool %>
	<% unless @synonym.id.nil? %>
		<%= hidden_field_tag 'drereference', @synonym.drereference %>
	<% end %>
	<div class="buttons">
		<%= submit_tag 'Reset', :type => 'reset' %>
		<%= f.submit %>
	</div>
<% end %>
