<%= form_for(@placement) do |f| %>
	<%= f.label :dretitle, 'Title'%><%= f.text_field :dretitle %>
	<%= f.label :qmsvalue1, 'URL'%><%= f.text_field :qmsvalue1 %>
	<%= f.label :qmsvalue2, 'Position' %><%= f.number_field :qmsvalue2, :min => 1 %>
	<%= f.label :qmsagentbool, 'Keywords' %><%= f.text_field :qmsagentbool %>

	<fieldset>
		<legend>Always Active</legend>
		<div class="radios">
			<%= f.radio_button  :alwaysactive, 'yes', :checked => to_boolean(@placement.alwaysactive)  %><%= f.label 'alwaysactive_yes', 'Yes' %>
			<%= f.radio_button  :alwaysactive, 'no', :checked => !to_boolean(@placement.alwaysactive)  %><%= f.label 'alwaysactive_no', 'No' %>
		</div>
	</fieldset>

	<div class="buttons">
		<%= submit_tag 'Reset', :type => 'reset' %>
		<%= f.submit %>
	</div>
<% end %>
