<!DOCTYPE html>
<html>
	<head>
		<title>Xyz</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<section>
				<%= image_tag 'logo.gif' %>
				<div id="login">
					Logged in as
					<a id="user_name" href="#" >David Fish</a>|<a id="status" href="#">Log out</a>
				</div>
			</section>
		</header>
		<section id="main">
		<nav id="main_nav">
		<ul>
			<li class="<%= selected_nav('cardinal_placements') %>">
			<%= link_to 'Cardinal Placements', cardinal_placements_path %>
			</li>
			<li class="<%= selected_nav('promotions') %>">
			<%= link_to 'Promotions', cardinal_placements_path %>
			</li>
			<li class="<%= selected_nav('synonyms') %>">
			<%= link_to 'Synonyms', synonyms_path %>
			</li>
			<li class="<%= selected_nav('blacklists') %>">
			<%= link_to 'Blacklists', cardinal_placements_path %>
			</li>
			<li class="<%= selected_nav('whitelists') %>">
			<%= link_to 'Whitelists', cardinal_placements_path %>
			</li>
			<li class="<%= selected_nav('boost_rules') %>">
			<%= link_to 'Boost Rules', cardinal_placements_path %>
			</li>
		</ul>
		</nav>
		<section id="context_nav">
			<ul>
				<%= yield :context_nav%>
			</ul>
		</section>

		<section id="work_panel">
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
		<% end -%>
		<%= yield %>
		</section>
		</section>
		<footer>

		</footer>

	</body>
</html>
